<h1>Please share your mood today to see your profile. You can always edit it later.</h1>
<center<>>
<%= form_tag '/user/mood' do %>

<%= label_tag :mood %>
<%= check_box_tag "Happy[]" %>
<%= check_box_tag "Neutral[]" %>
<%= check_box_tag "Sad[]" %>

<%= submit_tag 'Submit' %>
<% end %>
</center>
