<!DOCTYPE html>
<html>

<head>
  <title>SteadyMind</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <%= render template: 'layouts/header'%>
  <div class="body">
    <% flash.each do |name, msg| %>
    <div class="<%= flash_class(name.to_sym) %>">
      <p><%= msg %></p>
    </div>
    <% end %>
    <%= yield %>
  </div>
</body>

</html>
